# Sabermetrics: The Air Quality Factor

In this Jupyter notebook I will explore the relationship between baseball performance and atmospheric air quality. The first step in this project is to import the multiple data sets with the goal of building a shared data frame so that the data can be easily compared using Pandas.

In [33]:
import numpy as np
import pandas as pd
import matplotlib.pylab as plt
%matplotlib inline

#Set filepaths for baseball data and atmospheric data
team_path = "C:\Users\Nathan\Documents\GitHub\SabermetricsProject\Data\Teams.csv"

#epa_daily_path = "C:\Users\Nathan\Documents\GitHub\SabermetricsProject\Data\epa_hap_daily_summary.csv"
epa_yearly_path = "C:\Users\Nathan\Documents\GitHub\SabermetricsProject\Data\epa_air_quality_annual_summary.csv"


team_DF = pd.read_csv(team_path)
#epa_daily_DF = pd.read_csv(epa_daily_path)
epa_yearly_DF = pd.read_csv(epa_yearly_path)

#Edit dates to contain only year
epa_yearly_DF["date_of_last_change"] = epa_yearly_DF["date_of_last_change"].str[:4]
epa_yearly_DF.rename(columns={"date_of_last_change":"year"},inplace=True)

team_DF.rename(columns={"yearID":"year"},inplace=True)

print("Original dataframe size = %s" %epa_yearly_DF.size)
#print("Memory usage for EPA yearly summary = %s" % epa_yearly_DF.memory_usage)

Original dataframe size = 112129050

Now that the data has been imported, the next  step is to clean the data by removing unneeded information and then  try to determine a shared key/column so that the dataframes can be merged. The epa readings contained in the dataframe were collected at a variety of cities within the US, many without any professional baseball team. There also may be cities that have atmospheric readings but no MLB team. Therefore I will identify the cities contained within both datasets and use these for my analysis

In [43]:
#Create a list of distinct cities where readings were collected
distinct_cities = epa_yearly_DF.city_name.unique()

MLB_cities = ["Baltimore","Boston","Chicago","Cleveland","Detroit","Houston","Kansas City","Anaheim",
             "Minneapolis","New York","Oakland","Seattle","St. Petersburg","Arlington","Phoenix",
             "Atlanta","Cincinnati","Denver","Los Angeles","Miami","Milwaukee","Philadelphia",
             "Pittsburgh","San Diego","San Francisco","St. Louis","Washington","St. Paul","Newark",]

shared_cities = [x for x in distinct_cities if x in MLB_cities]

epa_yearly_DF = epa_yearly_DF[epa_yearly_DF['city_name'].isin(shared_cities)]

print("Reduced dataframe size = %s" %epa_yearly_DF.size)

#Create a dictionary mapping cities to team names
team_cities = team_DF.name.unique()
city_to_team = {}
for word in team_cities:
    wordsList = word.split(" ")
    if wordsList[0]=="Kansas" or wordsList[0]=="San" or wordsList[0]=="Los" or wordsList[0]=="New" or wordsList[0]=="St.":
        city_to_team[wordsList[0]+" "+wordsList[1]] = word
    else:
        city_to_team[wordsList[0]] = word

#Reverse mapping of team to city
team_to_city = {v: k for k, v in city_to_team.iteritems()}

#Add new city_name column to team dataframe to act as key
team_DF["city_name"] = "default"

for index,row in team_DF.iterrows():
    if row["name"] in team_to_city:
        team_DF.set_value(index,"city_name",team_to_city[row["name"]])
       
team_DF.head()
#print(team_to_city)

Reduced dataframe size = 13353175

,year,lgID,teamID,franchID,divID,Rank,G,Ghome,W,L,...,FP,name,park,attendance,BPF,PPF,teamIDBR,teamIDlahman45,teamIDretro,city_name
0,1871,NaN,BS1,BNA,NaN,3,31,NaN,20,10,...,0.834,Boston Red Stockings,South End Grounds I,NaN,103,98,BOS,BS1,BS1,default
1,1871,NaN,CH1,CNA,NaN,2,28,NaN,19,9,...,0.829,Chicago White Stockings,Union Base-Ball Grounds,NaN,104,102,CHI,CH1,CH1,default
2,1871,NaN,CL1,CFC,NaN,8,29,NaN,10,19,...,0.818,Cleveland Forest Citys,National Association Grounds,NaN,96,100,CLE,CL1,CL1,default
3,1871,NaN,FW1,KEK,NaN,7,19,NaN,7,12,...,0.803,Fort Wayne Kekiongas,Hamilton Field,NaN,101,107,KEK,FW1,FW1,Fort
4,1871,NaN,NY2,NNA,NaN,5,33,NaN,16,17,...,0.840,New York Mutuals,Union Grounds (Brooklyn),NaN,90,88,NYU,NY2,NY2,default