# Sabermetrics: The Air Quality Factor

In this Jupyter notebook I will explore the relationship between baseball performance and atmospheric air quality. The first step in this project is to import the multiple data sets with the goal of building a shared data frame so that the data can be easily compared using Pandas.

In [22]:
import numpy as np
import pandas as pd
import matplotlib.pylab as plt
%matplotlib inline

#Set filepaths for baseball data and atmospheric data
team_path = "C:\Users\Nathan\Documents\GitHub\SabermetricsProject\Data\Teams.csv"

#epa_daily_path = "C:\Users\Nathan\Documents\GitHub\SabermetricsProject\Data\epa_hap_daily_summary.csv"
epa_yearly_path = "C:\Users\Nathan\Documents\GitHub\SabermetricsProject\Data\epa_air_quality_annual_summary.csv"


team_DF = pd.read_csv(team_path)
#epa_daily_DF = pd.read_csv(epa_daily_path)
epa_yearly_DF = pd.read_csv(epa_yearly_path)

print("Original dataframe size = %s" %epa_yearly_DF.size)
#print("Memory usage for EPA yearly summary = %s" % epa_yearly_DF.memory_usage)

Original dataframe size = 112129050

Now that the data has been imported, the next  step is to clean the data by removing unneeded information and then  try to determine a shared key/column so that the dataframes can be merged. The epa readings contained in the dataframe were collected at a variety of cities within the US, many without any professional baseball team. There also may be cities that have atmospheric readings but no MLB team. Therefore I will identify the cities contained within both datasets and use these for my analysis

In [26]:
#Create a list of distinct cities where readings were collected
distinct_cities = epa_yearly_DF.city_name.unique()

MLB_cities = ["Baltimore","Boston","Chicago","Cleveland","Detroit","Houston","Kansas City","Anaheim",
             "Minneapolis","New York","Oakland","Seattle","St. Petersburg","Arlington","Phoenix",
             "Atlanta","Cincinnati","Denver","Los Angeles","Miami","Milwaukee","Philadelphia",
             "Pittsburgh","San Diego","San Francisco","St. Louis","Washington","St. Paul","Newark",]

shared_cities = [x for x in distinct_cities if x in MLB_cities]

epa_yearly_DF = epa_yearly_DF[epa_yearly_DF['city_name'].isin(shared_cities)]

print("Reduced dataframe size = %s" %epa_yearly_DF.size)

#Create a dictionary mapping cities to team names
team_cities = team_DF.name.unique()
city_to_team = {}
for word in team_cities:
    wordsList = word.split(" ")
    if wordsList[0]=="Kansas" or wordsList[0]=="San" or wordsList[0]=="Los" or wordsList[0]=="New" or wordsList[0]=="St.":
        city_to_team[wordsList[0]+" "+wordsList[1]] = word
    else:
        city_to_team[wordsList[0]] = word

#Reverse mapping of team to city
team_to_city = {v: k for k, v in city_to_team.iteritems()}

#Edit dates to contain only year
epa_yearly_DF["date_of_last_change"] = epa_yearly_DF["date_of_last_change"].str[:4]
epa_yearly_DF.rename(columns={"date_of_last_change":"year"},inplace=True)

Reduced dataframe size = 13353175

,state_code,county_code,site_num,parameter_code,poc,latitude,longitude,datum,parameter_name,sample_duration,...,seventy_five_percentile,fifty_percentile,ten_percentile,local_site_name,address,state_name,county_name,city_name,cbsa_name,year
2038686,11,1,43,88184,5,38.921847,-77.013178,WGS84,Sodium PM2.5 LC,24 HOUR,...,0.045,0.009,-0.008,MCMILLAN NCore-PAMS,2500 1ST STREET N.W. WASHINGTON DC,District Of Columbia,District of Columbia,Washington,Washington-Arlington-Alexandria DC-VA-MD-WV,2017
2038695,6,37,1103,43291,7,34.066590,-118.226880,WGS84,23-Dimethylpentane,3 HOURS,...,2.040,1.140,0.620,Los Angeles-North Main Street,1630 N MAIN ST LOS ANGELES,California,Los Angeles,Los Angeles,Los Angeles-Long Beach-Anaheim CA,2016
2038697,27,53,53,45807,1,44.981076,-93.269669,WGS84,14-Dichlorobenzene,24 HOUR,...,0.310,0.250,0.140,NaN,300 NICOLLET MALL,Minnesota,Hennepin,Minneapolis,Minneapolis-St. Paul-Bloomington MN-WI,2010
2038703,25,25,42,88305,5,42.329500,-71.082600,WGS84,OC CSN Unadjusted PM2.5 LC TOT,24 HOUR,...,5.740,3.930,2.630,DUDLEY SQUARE ROXBURY,HARRISON AVE,Massachusetts,Suffolk,Boston,Boston-Cambridge-Newton MA-NH,2010
2038706,25,25,42,43291,11,42.329500,-71.082600,WGS84,23-Dimethylpentane,24 HOUR,...,0.100,0.100,0.100,DUDLEY SQUARE ROXBURY,HARRISON AVE,Massachusetts,Suffolk,Boston,Boston-Cambridge-Newton MA-NH,2016